body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #858585;
  text-align: center;
  padding: 50px;
  margin: 0;
  box-sizing: border-box;
}

/* Título */
h1 {
  color: #af4c59;
  font-size: 60px;
  margin-bottom: 20px;
}

/* Contenedor del juego */
#game-container {
  background-color: rgb(133, 241, 105);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

/* Estilo para la carta */
img {
  width: 225px;
  height: 300px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button:active {
  transform: scale(1.02);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #000000;
}

/* Estilo de la puntuación */
#puntuacion {
  font-size: 24px;
  margin-top: 20px;
  font-weight: bold;
  color: #ff5e00;
}

/* Mensajes de estado */
.alerta {
  background-color: #ffcc00;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
  color: #d50000;
  font-weight: bold;
  display: inline-block;
}

.success {
  background-color: #4caf50;
  color: white;
}

/* Fondo del contenedor del mensaje */
#game-over-message {
  background-color: #f44336;
  color: rgb(13, 105, 93);
  padding: 15px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(247, 8, 8, 0.356);
}

/* Estilo para nueva partida */
#nuevaPartida {
  background-color: #f35221;
  margin-top: 30px;
}

#nuevaPartida:hover {
  background-color: #da800b;
}

/* Estilo para predicción de próxima carta */

#cartaSiguiente {
  background-color:#002df5; 
  margin-top: 30px;
}

#cartaSiguiente:hover {
  background-color:#197dff
}

#cartaSiguiente:disabled {
  background-color: #ccc;
  color: #000000;
  cursor: not-allowed;
}